<h1>The Best Life Coach Ever</h1>
<!-- first just echo back user's question -->
<!-- that was @question when @question was = params[:question] in controller -->
<!-- eventually do coach logic -->
<p><%= @answer %></p>
